.container {
  text-align: center;
  margin-top: 21px;
}

table {
  margin: auto;
}

button {
  border-radius: 20px;
  font-size: 40px;
  background: #d6d3db;
  width: 90px;
  height: 90px;
  margin: 6px;
}

.calculator {
  border: 4px solid #92a09e;
  background-color: #596363;
  padding: 23px;
  border-radius: 21px;
  display: inline-block;
}

input {
  border-radius: 40px;
  border: 5px solid #5b5f5b;
  font-size: 34px;
  height: 95px;
  width: 410px;
}
h1 {
  font-size: 28px;
  font-family: "Times New Roman", Times, serif, monospace;
}
